/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}


/* Stile per i link */
a {
    color: #007bff; /* Cambia il colore del link a tuo piacimento */
    text-decoration: none; /* Rimuove la sottolineatura dei link */
}

/* Stile per i link al passaggio del mouse (hover) */
a:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
